@page "/"
@using ProConsulta.Repositories.Agendamentos
@using System.Globalization
@inject IAgendamentoRepository repository

<PageTitle>DASHBOARD</PageTitle>

<MudText Typo="Typo.h3" Class="d-flex justify-content-center">DASHBOARD</MudText>
<div>
    <MudChart ChartType="ChartType.Bar"
              ChartSeries="@Series"
              XAxisLabels="@XAxisLabels"
              ChartOptions="@Options"
              Width="100%"
              Height="350px" />
</div>



@code {
    private ChartOptions Options = new ChartOptions
    {
        LineStrokeWidth = 20,
        YAxisTicks = 1,
    };

    private String[] XAxisLabels {get;set;} = [];
    private List<ChartSeries> Series { get; set; } = [];

    protected override async Task OnInitializedAsync()
    {
        var result = await repository.GetReportAsync();

        if (result is null || !result.Any())
            return;

        XAxisLabels = result.Select(x => CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(x.Mes)).ToArray();
        var serie = new ChartSeries
        {
            Name = "Atendimentos Mensais",
            Data = result.Select(x => (Double) x.QuantidadeAgendamentos).ToArray()
        };

        Series.Add(serie);
    }
}